.task-bar {
  /* width: 80vw; */
  border-radius: 1px;
  border: 1px solid rgba(119, 119, 119, 0.356);
  padding: 0px 2px;
  margin-bottom: 5px;
  background-color: #dfe6e957;
  height: 4vh;
}

.task-bar:hover {
  background-color: #0984e3;
}
.title-box {
  width: 10vw;
  font-size: 12px;
}
.task-bar h2 {
  /* max-width: 15vw; */
  padding: 0px 20px;
  font-size: 14px;
}

.task-bar-columns-container {
  width: 70%;
  font-size: 11px;
}
.task-bar-columns-container p {
  border-left: 1px solid rgba(119, 119, 119, 0.356);
  padding: 0px 5px;
  margin: 0px;
  text-align: center;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5vw;
  font-size: 13px;
}

.task-bar-columns-container div {
  border-left: 1px solid rgba(119, 119, 119, 0.356);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  min-width: 5vw;
  height: 7vh;
}
.task-bar-columns-container img {
  height: 20px;
}

.task-bar-icon {
  width: 20px;
  align-self: center;
  margin-left: 50%;
  margin-right: 10px;
}
