.info-boxes-btns-container {
  width: 30vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 90000;
}
.slide-in-right-info {
  animation: slide-in-right-info 0.5s linear;
}

.info-boxes-btns-container h2 {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.info-boxes-btns {
  border-bottom: 1px solid rgba(89, 89, 90, 0.349);
  padding-bottom: 20px;
}
.note {
  /* margin-left: 15px; */
}

.note span {
  color: rgba(117, 115, 115, 0.575);
  padding: 0px 15px;
}
.note h3 {
  color: rgba(105, 105, 105, 0.452);
  border-bottom: 1px solid grey;
  padding: 0px 15px;
}
.send-btn-inbox {
  width: 10vw;
}

.info-box-main-content {
  padding-top: 20px;
}
.clickbgc-info-box {
  /* width: 100vw; */
  height: 100vh;
  background-color: rgba(19, 18, 18, 0.548);
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 9000;
  animation: bgc-slow 0.5s linear;
}

@keyframes bgc-slow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-right-info {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
