.board-nav-container {
  /* position: fixed; */
  height: 100vh;
  /* left: 5vw; */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(160, 160, 160, 0.466);
  width: 15vw;
  /* top: 0px; */
  border-radius: 25px 0px 0px 0px;
  /* z-index: -1; */
}
.board-nav-container-hidden {
  /* position: fixed; */
  height: 100vh;
  /* left: 5vw; */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(160, 160, 160, 0.466);
  width: 5vw;
  /* top: 0px; */
  border-radius: 25px 0px 0px 0px;
}

.board-nav-container-hidden h3 {
  display: none;
}

.board-nav-container-hidden a {
  display: none;
}

.board-nav-container h3 {
  /* border-bottom: 1px solid rgba(160, 160, 160, 0.466); */
  /* padding-bottom: 30px; */
}

.board-list {
  height: 100vh;
  padding: 0px 5px;
}

.board-list-btn {
  padding: 10px 0px;
  width: 100%;
  border-radius: 5px;
  text-align: start;
  margin: 0 auto;
  margin-bottom: 10px;
}

.board-list-btn:hover {
  background-color: rgba(197, 190, 190, 0.329);
}

.board-list-btn a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 10px;
}

.board-list-btn a:focus {
  color: blue;
}

.resize-png-boardnav {
  width: 20px;
  align-self: flex-end;
  transform: rotate(90deg);
  margin-right: -10px;
  cursor: pointer;
  transition: 0.3s;
}

.resize-png-boardnav:hover {
  transform: scale(1.1) rotate(-90deg);
}

.add-board-btn {
  width: 25px;
  cursor: pointer;
  /* margin-top: -50px; */
  /* align-self: flex-end; */
}
.board-nav-title {
  padding: 0px 10px;
  padding-bottom: 30px;
}
