.board-header-container {
  height: 20vh;
  padding: 0px 10px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(160, 160, 160, 0.466);
}

.board-header-container h2 {
  margin: 0px;
  color: #0984e3;
  font-size: 20px;
  letter-spacing: 1px;
  align-self: flex-start;
  margin-top: 25px;
  margin-left: 20px;
}

.add-group-btn {
  /* width: 7vw; */
  height: 4vh;
  background-color: #00a8ff;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  padding: 0px 10px;
}
.add-group-btn:hover {
  background-color: #21b0f8;
}

.header-remove-board {
  /* width: 7vw; */
  text-align: center;
  height: 4vh;
  background-color: #00a8ff;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  border: none;
  margin-left: 3px;
  padding: 0px 15px;
}

.header-remove-board:hover {
  background-color: #21b0f8;
}
