.group-list-container {
  padding: 20px 10px;
  height: 100vh;
  margin-top: 0px;
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  overflow: visible;
}

.group-list {
  margin-bottom: 10vh;
  padding: 0px 10px;
}
