.group-list-container {
  /* padding: 20px 10px; */
  height: 80vh;
  margin-top: 0px;
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
}

.group-list {
  margin-bottom: 10vh;
  padding: 0px 20px;
  margin-top: 30px;
}
