.person-component {
  background-color: #b2bec3;
  color: white;
  z-index: 21;
  width: 25vw;
  height: 30vh;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.171);
}

.person-component > * {
  margin-bottom: 10px;
}

.person-component input {
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(136, 136, 136, 0.288);
}

.person-preview {
  /* background-color: rgb(0, 81, 255); */
  width: 5vw;
  height: 4vh;
}

.person-preview-btn {
  border: none;
  width: 10vw;
  font-size: 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 15px;
  margin-bottom: 3px;
  cursor: pointer;
}

.person-remove {
  margin-left: 15px;
}

.exit-btn-person {
  width: 3vw;
  height: 3vh;
  font-size: 20px;
}
.user-preview-circle-column:hover {
  background-color: #ef607d;
}
.user-preview-circle-column {
  width: 20px;
  height: 20px;
  margin: 1px;
  background-color: #e3425b;
  border-radius: 50%;
  text-align: center;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;

  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.781);
  font-size: 14px;
}

.user-preview-circle {
  width: 5vw;
  height: 5vw;
  margin: 1px;
  max-width: 50px;
  max-height: 50px;
  /* background-color: rgba(86, 88, 86, 0.226); */
  border-radius: 50%;
  text-align: center;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  /* font-size: 13px; */
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.781);
  font-size: 16px;
}

.person-component span {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 14px;
  color: rgba(58, 57, 57, 0.767);
}

.user-preview-circle-myweek {
  width: 3vw;
  height: 3vw;
  margin: 1px;
  /* background-color: rgba(86, 88, 86, 0.226); */
  border-radius: 50%;
  text-align: center;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  /* font-size: 13px; */
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.781);
  font-size: 16px;
}
