.side-nav-container {
  position: fixed;
  left: 0px;
  background-color: #2d3436;
  height: 100vh;
  color: white;
  width: 7vw;
  top: 0px;
}

.side-nav-img {
  width: 30px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px;
}

.side-nav-img:hover {
  transform: scale(1.1);
  background-color: rgba(190, 190, 190, 0.151);
  border-radius: 20px;
}

.side-nav-img a {
  width: 30px;
}

.my-week {
  width: 30px;
  height: 40px;
}
