.side-nav-container {
  /* position: fixed; */
  /* left: 0px; */
  background-color: rgb(41, 47, 76);
  height: 100vh;
  color: white;
  width: 5vw;
  /* top: 0px; */
}

.side-nav-img {
  width: 30px;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px;
}

.side-nav-img:hover {
  transform: scale(1.05);
  background-color: rgba(190, 190, 190, 0.151);
  border-radius: 20px;
}

.side-nav-img a {
  width: 30px;
}

/* 
.my-week-img {
  width: 30px;
  height: 40px;
} */

.logout {
  cursor: pointer;
}
