.task-inbox-container{
    width: 100%;
    background-color: black;
    width: 100%!important;
    margin: 0 auto!important;
}
.task-inbox-container .user-history{
    margin-bottom: 0!important;
}

.task-img-box  {
    width: 200px;
}
.info-img-box img{
    width: 100%;
    object-fit: cover;
}
/* #style-5 > div:nth-child(1) > div > div > div > div.task-list.flex.col > div:nth-child(1) > section > div.detail-container > div:nth-child(2) > div.info-box-main-content > article > div > img{
    width:100px;
} */