.task-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-opts {
    display: flex;
}

.opt-select {
    border-bottom: .5px solid rgba(83, 83, 83, 0.671);
    margin-right: 15px;
    cursor: pointer;
}

.opt-select:hover{
    border-bottom: 1px solid black;
}

