.main-board-container {
  /* overflow: visible; */
  /* height: 50vh; */
  width: 100%;
  background: white;
}

@media only screen and (max-width: 600px) {
  .main-board-container {
    position: fixed;
    top: 20vh;

    width: 100%;
    background: white;
  }
}
