.my-week {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.week-preview {
    display: flex;
    flex-direction: row;
    height: 64px;
    margin-bottom: 8px;
    cursor: pointer;
    min-width: 0px;
    flex-grow: 1;
    flex-direction: row;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    width: 100%;
    align-items: center;
}

.week-prev-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 2;
    align-items: flex-start;
}

.week-prev-text p {
    margin-bottom: 5px;
}

.week-preview p {
    margin: 0;
}


.week-status {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Done {
    background-color: rgb(0, 200, 117)
}

.my-week .user-small-img{
    margin-right: 10px;
}




